In [5]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
data = pd.read_csv('exam.csv')
data

   5me  guide result
0    0      0   fail
1    1      1   pass
2    1      0   pass
3    0      0   fail
4    0      0   fail
5    1      1   pass
6    0      1   fail
7    1      1   pass
8    1      0   fail
9    1      1   pass

In [7]:
encode = LabelEncoder()
data['result']=encode.fit_transform(data['result'])
data

   5me  guide  result
0    0      0       0
1    1      1       1
2    1      0       1
3    0      0       0
4    0      0       0
5    1      1       1
6    0      1       0
7    1      1       1
8    1      0       0
9    1      1       1